@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-fadeInSlideIn {
    animation: fadeInSlideIn 0.3s ease-out forwards;
  }

  .animate-fadeOutSlideOut {
    animation: fadeOutSlideOut 0.3s ease-in forwards;
  }
}

@keyframes fadeInSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutSlideOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}